<% layout("./layouts/boilerplate") -%>
    
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 ">
            <h1>Pesquise seu filme ou serie</h1>
            <form id ="movieForm">
                <div class="mb-3">
                    <label class="form-label" for="show">Qual filme/série voce procura?</label>
                    <input class="form-control" id="show" type="text" placeholder="Ex: Breaking Bad" name="movies" autofocus>
                </div>
                <button class="btn btn-success">Pesquisar</button>
            </form>

            <div id ="moviesBox" class="mt-5" ></div>
            <div id ="loading" class="mt-5" ></div>


            <div class="invisible alert alert-danger alert-dismissible fade show" id="notFound" role="alert">
                <p>Não encontramos nenhum filme ou série com este nome :(</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>

            
            
        </div>
    </div>
</div>


    
    <script src="../../javascript/movieFinder.js"></script>