<% layout("./layouts/boilerplate") -%>

<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-md-6 offset-md-3 d-flex flex-column" style=" ">
            <h1>Pesquise um filme ou serie</h1>
            <form id ="movieForm">
                <div class="mb-3">
                    <label class="form-label" for="show">Qual filme/série voce procura?</label>
                    <input class="form-control" id="show" type="text" placeholder="Ex: Breaking Bad" name="movies" autofocus>
                </div>
                <button class="btn btn-success">Pesquisar</button>
            </form>
           <!--Adicionar breakpoints aqui alterando a max-width depentedendo do tamanho da tela--> 
        <div class="relative-container align-self-center" style="max-width: 320px; ">
                   
            <div id ="moviesBox" class=" d-inline-block position-relative mt-5" ></div>

            <ul class="control invisible" id="customControl">
                <li class="prev">
                    <i class="fa-solid fa-angle-left"></i>
                </li>
                <li class="next">
                    <i class="fa-solid fa-angle-right"></i>
                </li>

            </ul>
        </div>
            <div id ="loading" class="mt-5" ></div>


            <div class="invisible alert alert-danger alert-dismissible fade show" id="notFound" role="alert">
                <p>Não encontramos nenhum filme ou série com este nome :(</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>

            
            
        </div>
    </div>
</div>

    
    
    
    <script  type="module" src="../../javascript/movieFinder.js"></script>
   
    
    
        
        
      </script>
    