<% layout("./layouts/boilerplate") -%>

<div class="container">
    
    <% let usersRating = 0 %>
    <%for(let movie of user.movies){%>
    <div class="row">
        <div class="col-md-3 ">
            <div>
               <img src="<%=movie.imageUrl%>">
            </div>
                       
        </div>
        <div class="col-md-3 ">
            
                <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger"> Remover</button>
                </form>

               
             
            
         </div>
            <%-movie.summary%>
                       
    </div>
    <%}%>
</div>

<script src="../../javascript/buttonVisibility.js"></script>