 /* Style the button and place it in the middle of the container/image */
 .showbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    /*background-color: rgba(0,0,0,0.5) !important;*/
    
    
   
    
}
.img-size{
  width:200px;
  height:389px;
}
.relative-container{
  position:relative
}

.invisible{
    display:none;
}

/* Container needed to position the button. Adjust the width as needed */
.imgcontainer {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }

  .control{
    list-style: none;
  }
  .control li{
    position: absolute;
    z-index: 99;
    bottom:50%;
    color:white;
    background-color: rgba(0,0,0,0.2);
    padding: 0.3em 0.8em;
    border-radius:50%;
    cursor:pointer
  
  }

  .control li:hover{
    background-color: rgb(0,0,0)
  }
  .control li.prev {
    left: 1em
  }
  .control li.next {
    right: 1em
  }
  

 


/*img:hover + .button, .button:hover {
    display: inline-block;
}*/
