 /* Style the button and place it in the middle of the container/image */
 .moviebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
   
    
}
.invisible{
    display:none;
}

/* Container needed to position the button. Adjust the width as needed */
.imgcontainer {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  

 


/*img:hover + .button, .button:hover {
    display: inline-block;
}*/
