<%layout("./layouts/boilerplate") -%>
  
  <div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
          <h1>Faça seu login</h1>
          <form action="/login" method="POST">

            <div class="mb-3">
              <label for="username">Username</label>
              <input type="text" id=username name="username" placeholder="Enter your Username">
            </div>
            
            <div class="mb-3">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" placeholder="Enter your password">
            </div >

          <button class="btn btn-success">Entrar</button>

          </form>

            <div id ="moviesBox"></div>
        </div>
    </div>



