<%layout("./layouts/boilerplate") -%>
  
  <div class="container">
    <div class="row" >
        <div class=" col-sm-12 col-lg-6 offset-lg-3 d-flex flex-column">
          <h1>Faça seu login</h1>
          <form action="/user/login" method="POST">

            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control"type="text" id=username name="username" placeholder="Enter your Username">
            </div>
            
            <div class="mb-3">
              <label class="form-label" for="password">Password:</label>
              <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password">
            </div >
            <div class="col-sm-12 col-lg-6 offset-lg-3">
              <button class=" btn btn-success w-100">Entrar</button>
            </div>

          </form>

            
        </div>
    </div>
  </div>



