<%layout("./layouts/boilerplate") -%>


   
 <div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
          <h1>Registre-se</h1>
          <form  action="/register" method="POST">
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="user[username]" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="user[email]" placeholder="Enter your email:">
            </div >
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input  class="form-control" type="password" id="password" name="user[password]" placeholder="Enter your password">
            </div >
            
            <button class="btn btn-success"> Enviar</button>
           
         </form>
            <div id ="moviesBox"></div>
        </div>
    </div>
</div>